body {
    font-family: Arial, sans-serif;
    margin: 50;
    padding: 50;
    background-color: #242123;
}
header {
    background-color: #574066;
    color: white;
    padding: 20px;
    text-align: center;
}  
nav {
    margin: 0;
    padding: 10px;
    background-color: #86637f;
    text-align: center;
}
nav a {
    color: rgb(251, 218, 255);
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}
nav a:hover {
    background-color: #c794ae;
}
.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
footer {
    background-color: #574066;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 15px;
}
h1 {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-size: 50px;
    font-weight: 100px;
    font-style: normal;
    margin: 0 auto;
}

h2 {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-size: 25px;
    font-weight: 70px;
    font-style: normal;
    margin: 0 auto;
}
p {
    color: rgb(255, 255, 255);
}

p strong {
    color: #bda0ff;
}

article {
    font-weight: 100;
    font-size: 20px;
    border-width: 1;
    border-style: double;
    border-color: #e9a9e9;
    text-align: center;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

li {
    margin-bottom: 10px;
}

.divider {
    position: relative;
    text-align: center;
    margin: 40px 0;
    border-bottom: 2px solid #333;
}

.divider::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #d4b0cb;
    border: 2px solid #333;
    z-index: 1;
}

.divider span {
    position: relative;
    background: #ffffff00;
    padding: 0 10px;
    font-size: 1.2em;
    color: #ffffff;
    z-index: 2;
}


.reason {
    background-color: #eacbeb; /*maybe light background idk :( */
    color: #333; /* Dark text color for contrast */
    border-left: 4px solid #e67198; /* dark left border */
    padding: 10px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 50px;
    border-radius: 5px;
}

.reason strong {
    color: #ec37bf; /* Match border color for emphasis?????? */
}