:root {
    --primary-bg-color: #f4f4f4;
    --text-color: #333;
    --main-bg-color: #333;
    --main-text-color: #fff;
    --main-btn-bg-color: #938989;
}

body {
    font-family: Arial, sans-serif;
    margin: 100;
    margin-left: 100;
    padding: 100;
    background-color: #242123;
}

.row{
        width:1200px;
        margin: 20px auto 20px auto;
}
.image-container{ 
        display: table-cell;
        vertical-align: middle;
        padding: 50px;
}

.vertical-nav {
        position: fixed;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        background-color: #221f2f4a;
        padding: 20px;
}

.vertical-nav ul {
        list-style-type: none;
        padding-left: 0;
}

.vertical-nav li {
        margin-bottom: 10px;
}

.vertical-nav a {
    color: rgb(89, 74, 122);
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

.vertical-nav a:hover {
        color: #d6e7f7;
        background-color: #584e6d;
}

.img {
    margin-left: 50px;
    margin-right: 50px;
}

nav {
    margin: 0;
    padding: 10px;
    background-color: #86637f;
    text-align: center;
}

nav a {
    color: rgb(251, 218, 255);
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.image-container {
    margin: auto;
    border: 0 auto;
    padding: 20px;
    max-width:1200px ;
}

footer {
    background-color: #453248;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 15px;
}

